.about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url('../../assets/img/bg.jpg');
  padding-top: 10rem;
  padding-bottom: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.about h2 {
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: .4px .4px .4px #ccc;
}

.about h3 {
  font-size: 1.4rem;
}

.about hr {
  width: 50%;
  margin: 25px auto;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.about p {
  width: 60%;
  margin: 10px auto;
}

.carsoul {
  margin-top: 10rem;
}

.carsoul p {
  color: navy;
  font-size: x-large;
  font-weight: 400;
  font-style: italic;
}


/* response design */
/* mobile phones */
@media (max-width: 767.98px) {
  .about h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: .4px .4px .4px #ccc;
  }



  /*tablets*/
  @media (max-width: 991.98px) {
    .carsoul {
      text-align: center;
      width: 80%;
      margin: 25px auto 0 auto;
    }

  }
}
