
<section class="movies">
      <div class="row ms-5 p-5">
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/malignant.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Malignant</h5>
                  <p class="card-text">Language: English  <br>Country:   US<br>
                   Genre: Horror-Thriller <br> Time: 7:15pm - 9:45pm</p>
                  <a href="#" class="btn btn-warning">60$</a>
                </div>
              </div>
              </div>

              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/30march.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">30 March</h5>
                  <p class="card-text">Language: Arabic  <br>Country:   Egypt<br>
                    Genre: Drama-Thriller <br> Time: 7:15pm - 9:45pm</p>
                    <a href="#" class="btn btn-warning">70$</a>
                </div>
              </div>
              </div>
              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/200junayh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">200 Junayh</h5>
                  <p class="card-text">Language: Arabic  <br> Country:   Egypt<br>
                    Genre: Drama <br> Time: 7:15pm - 9:45pm
                    </p>
                    <a href="#" class="btn btn-warning">70$</a>
                </div>
              </div>
              </div>
              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/200Meter.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">200 Meter</h5>
                  <p class="card-text">Languages: Palestinian Arabic <br>Country: Palestinian territories <br> Genre: Drama-Non Fiction
                      <br> Time: 7:15pm - 9:45pm</p>
                  <a href="#" class="btn btn-warning">60$</a>
                </div>
              </div>
              </div>
              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/CardCounter.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">The Card Counter</h5>
                  <p class="card-text">Language: English  <br> Country: US<br>
                    Genre: Thriller <br> Time: 7:15pm - 9:45pm</p>
                    <a href="#" class="btn btn-warning">100$</a>
                </div>
              </div>
              </div>          
            <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/mako.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mako</h5>
                  <p class="card-text">Language: Arabic <br> Country:   Egypt<br>
                    Genre: Thriller <br> Time: 7:15pm - 9:45pm</p>
                    <a href="#" class="btn btn-warning">50$</a>
                </div>
              </div>
              </div>
              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/moussa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moussa</h5>
                  <p class="card-text">Language: Arabic <br> Country:   Egypt<br>
                   Genre: Fantasy-SciFiction-Action <br> Time: 7:15pm - 9:45pm</p>
                   <a href="#" class="btn btn-warning">100$</a>
                </div>
              </div>
              </div>
              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/theride.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">The Ride</h5>
                  <p class="card-text">Language: English  <br>Country:   US<br>
                    Genre: Sport <br> Time: 7:15pm - 9:45pm</p>
                    <a href="#" class="btn btn-warning">60$</a>
                </div>
              </div>
              </div>
              <div class="column col-md-4 col-sm-12 my-5">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/img/dragonrider.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dragon Rider</h5>
                  <p class="card-text">Language: English<br>
                    Genre: Action <br> Time: 7:15pm - 9:45pm</p>
                  <a href="#" class="btn btn-warning">70$</a>
                </div>
              </div>
        </div>
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/img/freeguy.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Free Guy Taika Waititi</h5>
                <p class="card-text">Language: English <br> Country:   US<br>
                   Genre: Action-Adventure-Comedy-SciFiction <br> Time: 7:15pm - 9:45pm</p>
                   <a href="#" class="btn btn-warning">70$</a>
              </div>
            </div>
            </div>
            <div class="column col-md-4 col-sm-12 my-5">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/img/bennett'sWar.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bennett's War</h5>
                    <p class="card-text">Language: English <br> Country:   US<br>
                       Genre: Sport <br> Time: 7:15pm - 9:45pm</p>
                       <a href="#" class="btn btn-warning">100$</a>
                  </div>
                </div>
                </div>
                <div class="column col-md-4 col-sm-12 my-5">
                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/img/ens&nems.jfif" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Alens Wa Alnems</h5>
                        <p class="card-text">Language: English <br> Country:   US<br>
                            Genre: Sport <br> Time: 7:15pm - 9:45pm</p>
                            <a href="#" class="btn btn-warning">60$</a>
                      </div>
                    </div>
                    </div>
    </div>
</section>
