
<section class="movies">
    <div class="row ms-5 p-5">
      

            <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/img/30march.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">30 March</h5>
                <p class="card-text">Language: Arabic  <br>Country:   Egypt<br>
                  Genre: Drama-Thriller <br> Time: 7:15pm - 9:45pm</p>
                  <a href="#" class="btn btn-warning">70$</a>
              </div>
            </div>
            </div>
            <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/img/200junayh.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">200 Junayh</h5>
                <p class="card-text">Language: Arabic  <br> Country:   Egypt<br>
                  Genre: Drama <br> Time: 7:15pm - 9:45pm
                  </p>
                  <a href="#" class="btn btn-warning">70$</a>
              </div>
            </div>
            </div>
            <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/img/200Meter.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">200 Meter</h5>
                <p class="card-text">Languages: Palestinian Arabic <br>Country: Palestinian territories<br> Genre: Drama-Non Fiction
                    <br> Time: 7:15pm - 9:45pm</p>
                <a href="#" class="btn btn-warning">60$</a>
              </div>
            </div>
            </div>
            </div>
                    
          
</section>
