<section class="showcase text-center">
    <div class="container">
        <div class="showcase-content">
            <h1> Welcome to RS Cinema <i class="far fa-smile"></i></h1>
            <h2> We Are Now EveryWhere ! Go Check Our Locations</h2>
            <hr>
        </div>
    </div>
</section>




<section class="rated text-center">
    <h2 class="text-center">TOP RATED MOVIES</h2>
    <div class="row ms-5 p-5">
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/200Meter.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-text">200 Meter</h3>
                  <h5> Advature - Drama</h5>
                </div>
              </div>
        </div>
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/CardCounter.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">The Card Counter</h3>    
                    <h5> Thriller - Drama</h5>   
                 </div>
              </div>
        </div>
        <div class=" column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/200junayh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">200 Junayh</h3> 
                    <h5>Drama</h5>       
                        </div>
              </div>
            </div>
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/theride.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">The Ride</h3>              
                    <h5>Action</h5>
                  </div>
              </div>
        </div>
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/moussa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">Moussa</h3>              
                    <h5>Sci-Fiction</h5>
                  </div>
              </div>
        </div>
        <div class="column col-md-4 col-sm-12 my-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/mako.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">Mako</h3>              
                    <h5>Advanture - Thriller</h5>
                  </div>
              </div>
        </div>
    </div>
</section>

<hr>

